<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{APP_NAME}} » {{title}}</title>
{{#if seo_description includeZero=true}}
<meta name="description" content="{{seo_description}}" />
{{else}}
<meta name="description" content="{{APP_DESC}}" />
{{/if}}
{{#if seo_robots includeZero=true}}
<meta name="robots" content="{{seo_robots}}" />
{{else}}
<meta name="robots" content="index, follow" />
{{/if}}
{{#if seo_keywords includeZero=true}}
<meta name="keywords" content="{{seo_keywords}}" />
{{/if}}